{block content}
<div class="container-fluid">
    <div class="row page-content-header" style="margin-top: 0px; margin-bottom: 0px; padding: 0px;">
        <h2>
            {include "../Blocks/menu.latte"}
        </h2>
    </div>
    <div class="row page-content-wrapper">
        <div class="page-content-back">
            CONTENT
        </div>
    </div>
</div>
