body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:130px;
  width:154px;
  height:85px;
}
#u1_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
}
#u3 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3_img.selected {
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:22px;
  top:0px;
  width:127px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u6 {
  position:absolute;
  left:3px;
  top:2px;
  width:122px;
  white-space:nowrap;
}
#u2_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:20px;
  top:20px;
  width:110px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:22px;
  top:0px;
  width:88px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u9 {
  position:absolute;
  left:3px;
  top:2px;
  width:83px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
}
#u11 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u12 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
}
#u14 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u15 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:36px;
  width:1000px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:12px;
  top:0px;
  width:168px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:20px;
  top:43px;
  width:81px;
  height:15px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:133px;
  top:43px;
  width:57px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:220px;
  top:43px;
  width:85px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:330px;
  top:43px;
  width:89px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:450px;
  top:43px;
  width:40px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:524px;
  top:43px;
  width:46px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:620px;
  top:2px;
  width:180px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:270px;
  top:2px;
  width:320px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:900px;
  top:43px;
  width:84px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:967px;
  top:4px;
  width:31px;
  height:29px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:930px;
  top:7px;
  width:27px;
  height:26px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:890px;
  top:6px;
  width:30px;
  height:26px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:854px;
  top:6px;
  width:26px;
  height:29px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:594px;
  top:43px;
  width:70px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:16px;
  top:95px;
  width:87px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:120px;
  top:76px;
  width:28px;
  height:15px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:270px;
  top:148px;
  width:530px;
  height:20px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:367px;
  top:112px;
  width:160px;
  height:20px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:230px;
  width:124px;
  height:85px;
}
#u55_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u57 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u57_img.selected {
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u60 {
  position:absolute;
  left:3px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u56_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u65 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u66 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u68 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u69 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:20px;
  top:330px;
  width:155px;
  height:85px;
}
#u70_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u72 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u72_img.selected {
}
#u72.selected {
}
#u73 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:22px;
  top:0px;
  width:128px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:20px;
}
#u75 {
  position:absolute;
  left:3px;
  top:2px;
  width:123px;
  white-space:nowrap;
}
#u71_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u77 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u78 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u80 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u81 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u83 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u84 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:16px;
  top:76px;
  width:41px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:120px;
  top:95px;
  width:28px;
  height:15px;
  color:#FF0000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:270px;
  top:115px;
  width:84px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:246px;
  top:76px;
  width:10px;
  height:694px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:677px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:694px;
}
#u92 {
  position:absolute;
  left:270px;
  top:76px;
  width:72px;
  height:15px;
  color:#FF0000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:169px;
  top:150px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:169px;
  top:171px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:169px;
  top:195px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:168px;
  top:250px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:167px;
  top:350px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:167px;
  top:371px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:167px;
  top:395px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:168px;
  top:271px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:168px;
  top:295px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:270px;
  top:178px;
  width:530px;
  height:312px;
  text-align:left;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:312px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:526px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:731px;
  top:117px;
  width:103px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:850px;
  top:114px;
  width:140px;
  height:22px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u116_input:disabled {
  color:grayText;
}
#u117 {
  position:absolute;
  left:830px;
  top:178px;
  width:105px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:952px;
  top:178px;
  width:30px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:830px;
  top:203px;
  width:85px;
  height:15px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:952px;
  top:202px;
  width:38px;
  height:15px;
  color:#FF0000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:830px;
  top:220px;
  width:85px;
  height:15px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:952px;
  top:219px;
  width:38px;
  height:15px;
  color:#FF0000;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:830px;
  top:237px;
  width:85px;
  height:15px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:952px;
  top:236px;
  width:38px;
  height:15px;
  color:#FF0000;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:455px;
  top:76px;
  width:110px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:761px;
  top:80px;
  width:79px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:575px;
  top:73px;
  width:140px;
  height:22px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u137_input:disabled {
  color:grayText;
}
#u138 {
  position:absolute;
  left:850px;
  top:73px;
  width:140px;
  height:22px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u138_input:disabled {
  color:grayText;
}
#u139 {
  position:absolute;
  left:850px;
  top:600px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:270px;
  top:515px;
  width:101px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:768px;
  top:515px;
  width:30px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:270px;
  top:545px;
  width:59px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:345px;
  top:545px;
  width:299px;
  height:15px;
  color:#0000FF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:15px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:719px;
  top:545px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:270px;
  top:570px;
  width:70px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:345px;
  top:570px;
  width:275px;
  height:15px;
  color:#0000FF;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:719px;
  top:570px;
  width:79px;
  height:15px;
  color:#FF0000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
