{block buttons}
<button data-click="click" data-target="#submitSmtp" class="marg-10-left mailerdefault btn btn-custom-darkyellow pull-right">
    {_is.default.edit} <span class="glyphicon glyphicon-edit"></span>
</button>
<button data-toggle="modal" data-target="#addMailerDefault" class="mailerdefault btn btn-custom-darkblue pull-right">
    {_is.settings.addTemplate} <span class="glyphicon glyphicon-plus"></span>
</button>
{/block}
