{block settings}
<div id="mailer" class="tab-pane">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td colspan="3"><h3>{_is.default.module} <strong>{_is.modulName.mailer}</strong></h3></td>
            </tr>
            <tr>
                <td colspan="3"><h4>{_is.settings.templates}</h4></td>
            </tr>
            <tr>
                <th>{_is.mailer.title}</th>
                <th>{_is.mailer.subject}</th>
                <th class="nowrap">{_is.default.action}</th>
            </tr>
        </thead>
        <tbody>
            {if count($mailerDefaults) > 0}
            {foreach $mailerDefaults as $md}
            <tr>
                <td>{$md->getName()}</td>
                <td>{$md->getSubject()}</td>
                <td class="nowrap">
                    <a n:href="editMailerDefault! 'mailerDefaultId' => $md->getId()" style="color: #FFF;" class="btn btn-custom-darkyellow btn-sm btn-sm-betpad ajax" data-tooltip="tooltip" title="Upraviť šablónu"><span class="glyphicon glyphicon-edit no-margin"></span></a>    
                    <button type="button" class="btn btn-danger btn-sm btn-sm-betpad" 
                            data-tooltip="tooltip" title="Zmazať" data-toggle="modal"
                            data-target="#deleteAction" data-link="{link deleteMailerDefault! 'mailerDefaultId' => $md->getId()}">
                        <span class="glyphicon glyphicon-trash" ></span>
                    </button>
                </td>
            </tr>
            {/foreach}
            {else}
            <tr>
                <td colspan="3" class="warning">{_is.default.noRecords}</td>
            </tr> 
            {/if}
        </tbody>
    </table>
    {include "../../../templates/Blocks/addMailerDefault.latte"}
    {snippet openedMailer}
        {if isset($isMailerDefaultOpened)}
            {include '../../../templates/Blocks/editMailerDefault.latte'}
        {/if}
    {/snippet}
    {form editMailerSettings}
        {input submit id => "submitSmtp", class => "hide"}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td colspan="2">
                        <h4>SMTP</h4>
                        <p class="well warning">
                            {_is.settings.smtpDescription|noescape}
                        </p>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{_is.default.name}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{label mailer_host style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_host class=> "form-control"}</td>
                </tr>
                <tr>
                    <td>{label mailer_port style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_port class=> "form-control"}</td>
                </tr>
                <tr>
                    <td>{label mailer_username style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_username class=> "form-control"}</td>
                </tr>
                <tr>
                    <td>{label mailer_password style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_password class=> "form-control"}</td>
                </tr>
                <tr>
                    <td>{label mailer_secure style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_secure class=> "form-control"}</td>
                </tr>
                <tr>
                    <td>{label mailer_timeout style => "font-weight: 400;"/}</td>
                    <td style="width: 30%;">{input mailer_timeout class=> "form-control"}</td>
                </tr>
            </tbody>
        </table>
    {/form}
</div>

<!--END OF MODAL WINDOW FOR addPICTURE-->           
{include $blocksDir.'/deleteAction.latte'}
{/block}