/* Author: Kristián Bukva */

/* MAX WIDTH 1250px*/

@media ( max-width: 1250px ) {
    .aside-menu {
        display: none;
        position: fixed;
        z-index: 9999;
        width: 250px;
        top: 50px;
        right: 0px;
        height: calc(100vh - 50px);
        background: #333332;
        text-align: left;
    }

    .right-menu ul {
        display: inline-block;
    }

    .main-uvod {
        width: 100%;
    }

    .global-footer {
        width: 100%;
    }

    .nav-bar .container {
        width: 100%;
    }

    .logo {
        margin-left: 2.5%;
    }

    /* MENU BURGER */

    .burger {
        display: block;
    }

    .burger-menu {
        margin-right: 0px;
    }

    .nav-bar .menu li:last-child {
        margin-right: 0px;
    }

    .aside-search {
        display: block;
    }
}

/* MAX WIDTH 1150px */

@media ( max-width: 1150px ) {
    .box-img {
        width: 50%;
    }
}

/* MAX WIDTH 1050px */

@media ( max-width: 1050px ) {
    /* MENU */
    .nav-bar .menu li:first-child {
        display: none;
    }

    .proces-box {
        width: 50%;
        margin-top: 50px;
    }

    /* Sauny na mieru */

    .text-namieru {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

/* MAX WIDTH 950px*/

@media ( max-width: 950px ) {


}

/* MAX WIDTH 767 */

@media ( max-width: 767px ) {
    .sluzby-box {
        margin-bottom: 30px;
    }


    .article-box .row .article:first-child {
        border-right: 1px solid #c9c8c8;
    }

    .article-box .row .article:last-child {
        border-left: 1px solid #c9c8c8;
    }

    .filter-bottom .col-md-2, .col-md-8 {
        text-align: center;
    }

    .filter-top {
        text-align: center;
    }

    .filter-top a {
        display: inherit;
        margin-top: 10px;
    }

    .filter-top p {
        margin-bottom: 0;
        cursor: pointer;
    }

    .filterlink {
        display: none;
    }

    .form-box-user .row .col-md-4 {
        padding-right: 0;
    }

    .kontakt-box .row .col-md-3 ul:nth-child(2) {
        margin-top: 20px;
    }

    /* Sauny na mieru */

    .rozmery-form input {
        display: block;
        width: 100%;
    }

    .box-rozmery .col-md-6:last-child {
        margin-top: 50px;
    }

    .section-namieru-box .col-md-4 {
        text-align: center;
        margin-top: 20px;
    }

    .section-namieru-box .col-md-4 .hr {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .namieru-text {
        width: 80%;
        margin: 0 auto;
    }

    .btn-objednat {
        margin-top: 20px;
    }

    /* Product */

    .collapsed {
        width: 100%;
        left: 0;
    }
}

/* MAX WIDTH 700px */

@media ( max-width: 700px ) {
    .box-img {
        width: 100%;
    }

    .box-img p {
        font-size: 22px;
    }

    .obch-podmienky {
        width: 100%;
    }

    .dodavatelia p {
        width: 80%;
    }
}


/* MAW WIDTH 650px */

@media ( max-width: 650px ) {
    .search {
        display: none;
    }

    .proces-box {
        width: 100%;
    }
}

/* MAX WIDTH 576 */

@media ( max-width: 576px ) {

    /* PAGINATION */

    .pagination .left,
    .pagination .center,
    .pagination .right {
        text-align: center;
    }

    .pagination .center {
        margin-top: 10px;
    }

    .pagination .right {
        margin-top: 10px;
    }

    .post-header {
        position: relative;
        width: 95%;
        margin: 0 auto;
        top: 65%;
        z-index: 5;
        padding-top: 250px;
        padding-bottom: 50px;
        left: 0;
    }

    .post-header p {
        font-size: 18px;
    }

    .post-header h1 {
        font-size: 28px;
    }

    .bg-gradient {
        height: auto;
    }

    .section-akonato header h1 {
        font-size: 28px;
        margin-top: 150px;
    }

    .section-akonato header p {
        font-size: 18px;
    }

    .cover-akonato {
        height: calc(80vh);
    }

    .filter-bottom a {
        margin: 10px;
    }
}

/* RESPO 440px */
@media ( max-width: 440px) {

    /* Product page */
    .btn-produkt .btn-kupit {
        float: none;
        width: 100%;
        text-align: center;
    }

    .btn-produkt .btn-namieru {
        float: none;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media ( max-height: 560px) {
    .cover-akonato {
        height: 550px;
    }
}

