{block buttons}
<button data-toggle="modal" data-target="#addRole" class="rola btn btn-custom-darkblue pull-right">
    Pridať rolu <span class="glyphicon glyphicon-plus"></span>
</button>
{/block}
