default:
    action: "Action"	
    noRecords: "We have no records in this section"
    send: "Send"
    startWriting: "Start writing"
    show: "Show"
    delete: "Delete"
    add: "Add"
    close: "Close"
    datein: "Insert date"
    download: "Download"  
    requiredDimensions: "Required dimensions: %dimension%<br> With bigger dimensions image will be cropped"  
    address: "Address"   
    facturation: "Billing information" 
    back: "Back"
    edit: "Edit"
    chooseFile: "Choose file"
    noBackAction: "You are about to make irreversible action. Do you really wish to do it?"
    yes: "Yes"
    no: "No"
    mail: "E-mail"
    phoneNumber: "Phone number"
    module: "Module"
    name: "Name"
    logo: "Logo"
    favicon: "Favicon"
    requiredField: "Required field"
    sort: "Sort"
    year: "Year"
    minify: "Minify"
    change: "Change"
    noRights: "You have no rights for this kind of action"
    pleaseLogin: "For this kind of action, please log in"
    multimedia: "Multimedia"
    image: "Image"

modulName:
    homepage: "Homepage"
    mailer: "Mailer"
    content: "Kontento"
    contento: "Kontento"
    multimedia: "Multimedia"
    article: "Articles"
    contact: "Contacts"
    invoice: "Invoices"
    seo: "SEO"
    user: "Users"
    log: "Log"
    settings: "Settings"
    help: "System"
    profile: "Profile"
    general: "General"
    specific: "Specific"
    napoveda: "Help"
    system: "System"
    information: "Information"
    login: "Login"
    stats: "Statistics"
    post: "Post"
    cost: "Cost"
    gallery: "Gallery"
    event: "Events"

months:
    january: "January"
    february: "February"
    march: "March"
    april: "April"
    may: "May"
    june: "June"
    july: "July"
    august: "August"
    september: "September"
    october: "October"
    november: "November"
    december: "December"

layout:
    quickAction: "Quick action"
    createContact: "Create contact"
    createInvoice: "Create invoice"
    logout: "Log out"
    profil: "Profile"
    mostCommon: "Most common"
    general: "General"
    lang: "Language"
    changeMutation: "Change language"

login:
    informationSystem: "Information system"
    mail: "E-mail"
    password: "Password"
    remember: "Remember"
    submit: "Login"
    sucLogin: "Successfull login"
    unSucLogin: "Unsuccessfull login - wrong password"
    unSucLoginUnknownUser: "Login of unknown user with e-mail: mail"
    logLogin: "Logged in"
    wrongLogin: "Invalid login, please try again."
    loggedOut: "Logged out"

profile:
    myProfile: "My profile"
    name: "Name"
    surname: "Surname"
    password: "Password"
    image: "Image"
    changePassword: "Change password"
    myLogs: "My logs"
    description: "Description"
    sucEdited: "Your profile was changed"
    logEdited: "Changed his profile"

homepage:
    sumAddedInvoice: "Sum of created invoices for each month"
    countAddedContacts: "Count of new contacts for each month"
    contacts: "contacts"
    newContacts: "new contacts"
    lastContact: "last contact"
    uploadedFiles: "uploaded files"
    sumFacturated: "total invoiced"
    sumUnpayed: "total not payed"
    lastInvoice: "last invoice"
    activeAdmin: "the most active admin"

mailer:
    write: "Write e-mail"
    to: "To"
    subject: "Subject"
    text: "Text"
    attachment: "Attachment"
    sentDate: "Sent date"
    importTemplate: "Import template"
    recipient: "Recipient"
    sentMail: "Sent e-mail with ID %id%"
    title: "Name"
    import: "Import"
    showMail: "Show e-mail"
    templateName: "Template name"
    body: "Body"
    deletedMail: "Deleted e-mail with ID %id%"
    sucSent: "E-mail was sent succesfully"
    sucDeleted: "E-mail was deleted succesfully"

kontento:
    addStaticPage: "Add static page"
    editStaticPage: "Edit static page"
    addDynamicPage: "Add dynamic page"
    editDynamicPage: "Edit dynamic page"
    name: "Name"
    type: "Type"
    sort: "Sort"
    parent: "Parent"
    link: "Link (URL address)"
    visibility: "Visibility"
    body: "Body"
    showPage: "Show page"
    editPage: "Edit page"
    sucCreated: "New page was successfully created"
    sucEdited: "Page was successfully edited"
    sucDeleted: "Page was successfully deleted"
    logDeleted: "Deleted page with ID %id%"
    logCreated: "Created page with ID %id%"
    logEdited: "Edited page with ID %id%"

multimedia:
    folderName: "Folder name"
    addFolder: "Add folder"
    addMultimedia: "Add multimedium"
    addToFolder: "Add to folder"
    folder: "Folder"
    deleteBody: "Folder <strong>%folder%</strong> contains <strong>%count%</strong> multimedias. After deleting this folder will be deleted corresponding multimedias"
    name: "Name"
    type: "Type"
    fileSize: "File size"
    relativePath: "Relative path"
    absolutePath: "Absolute path"
    sucFolderAdded: "Folder was successfully added"
    sucFolderDeleted: "Folder was successfully deleted"
    logFolderAdded: "Created folder with ID %id%"
    logFolderDeleted: "Deleted folder with ID %id%"
    sucMultimediaAdded: "Multimedia was successfully added"
    sucMultimediaDeleted: "Multimedia was successfully deleted"
    logMultimediaAdded: "Added multimedia with ID %id%"
    logMultimediaDeleted: "Deleted multimedia with ID %id%"

article:
    addArticle: "Add article"
    title: "Title"
    category: "Category"
    editArticle: "Edit article"
    image: "Image"
    articlee: "Article"
    keywords: "Keywords (separate by commas)"
    logAdded: "Added article with ID %id%"
    logEdited: "Edited article with ID %id%"
    logDeleted: "Deleted article with ID %id%"
    sucAdded: "Article was successfully added"
    sucEdited: "Article was successfully edited"
    sucDeleted: "Article was sucessfully deleted"

contact:
    addContact: "Add contact"
    editContact: "Edit contact"
    name: "Name"
    files: "Files"
    sucAdded: "Contact was successfully added"
    sucEdited: "Contact was successfully edited"
    sucDeleted: "Contact was successfully deleted"
    logAdded: "Added contact with ID %id%"
    logEdited: "Edited contact with ID %id%"
    logDeleted: "Deleted contact with ID %id%"
    sucFileAdded: "File was successfully added"
    sucFileDeleted: "File was successfully deleted"
    logFileAdded: "Added file with ID %id% to contact with ID %id%c"
    logFileDeleted: "Deleted file with ID %id% from contact with ID %id%c"
    showMultimedium: "Show multimedium"
    myInvoices: "Invoices"

seo:
    addSeo: "Add SEO"
    link: "Link"
    title: "Title"
    description: "Description"
    google: "Live google example"
    editSeo: "Edit SEO"
    finalDestination: "Final destination"
    image: "Image for FB share API (required dimensions: 1200x630px)"
    sucAdded: "SEO was successfully added"
    sucEdited: "SEO was successfully edited"
    sucDeleted: "SEO was successfully deleted"
    logAdded: "Added SEO with ID %id%"
    logEdited: "Edited SEO with ID %id%"
    logDeleted: "Deleted SEO with ID %id%"

user:
    addUser: "Add user"
    editUser: "Edit user"
    user: "User"
    name: "Name"
    surname: "Surname"
    authorization: "Authorization"
    eMail: "E-mail"
    phoneNumber: "Phone number"
    password: "Password"
    passwordCheck: "Password again"
    multimedia: "Multimedia"
    data: "Data"
    permissions: "Permissions"
    sucAdded: "User was added"
    sucEdited: "User was edited"
    sucDeleted: "User was deleted"
    logAdded: "Added user with ID %id%"
    logEdited: "Edited user with ID %id%"
    logDeleted: "Deleted user with ID %id%"
    unableDelete: "Unable to delete yourself"

log:
    description: "Description"
    unknownUser: "Unknown user"
    logs: "Logs"

settings:
    generalSettings: "General settings"
    editChange: "Edit change"
    addCategory: "Add category"
    addTemplate: "Add template"
    addPicture: "Add image"
    addField: "Add field"
    addGroup: "Add group"
    specificSettings: "Specific settings"
    invoiceInfo: "RRRR - Year with 4 digits<br> RR - Year with 2 digits<br> MM - Month with 2 digits<br> C - Invoice number (count determines the size of the invoice numbers)"
    street: "Street"
    city: "City"
    psc: "PSČ"
    state: "State"
    companyName: "Company name"
    name: "Name"
    scheme: "Scheme"
    paymentInfo: "Payment information"
    predefinedDateOfDelivery: "Predefined date of delivery"
    predefinedDateOfExpiration: "Predefined date of expiration"
    predefinedTax: "Predefined TAX"
    useInvoiceNumberAsVS: "Use invoice number as predefined variable symbol"
    predefinedPaymentInfo: "Predefined payment information"
    predefinedConstantSymbol: "Predefined constant symbol"
    predefinedPaymentForm: "Predefined payment form"
    predefinedCurrency: "Predefined currency"
    invoiceLogo: "Logo on invoice"
    showInvoiceLogo: "Show logo on invoice"
    invoiceSignature: "Signature on invoice"
    showInvoiceSignature: "Show signature on invoice"
    editGroup: "Edit group"
    editField: "Edit field"
    group: "Group"
    type: "Type"
    options: "Items (separated by ;)"
    showInTable: "Show in table"
    showOnNewLine: "Show on new line"
    showAsTinymce: "Show as tinymce"
    colWidth: "Column width"
    editCategory: "Edit category"
    templates: "Templates"
    username: "Username"
    password: "Password"
    security: "Security"
    timeout: "Timeout"
    host: "Host"
    port: "Port"
    editTemplate: "Edit template"
    smtpDescription: "With custom mailer settings it is crucial that your SMTP server enables sending via third level parties. <br><br>For GMAIL account log in and enable sending via other applications <a href='https://www.google.com/settings/security/lesssecureapps'>here</a>."
    fieldName: "Field name"
    addNewImage: "Add new image"
    editItemInMenu: "Edit item in menu"
    addNumericalScheme: "Create new numerical scheme"
    editNumericalScheme: "Edit numerical scheme"
    sucEdited: "Settings were changed"
    logEdited: "Changed settings"

invoice:
    number: "Invoice nr."
    name: "Invoice name"
    vs: "Variable symbol"
    ks: "Constant symbol"
    ss: "Specific symbol"
    ico: "IČO"
    dic: "DIČ"
    icdph: "IČ DPH"
    currency: "Currency"
    paymentForm: "Payment form"
    dateOfPublish: "Date of publish"
    dateOfDelivery: "Date of delivery"
    dateOfExpiration: "Date of expiration"
    facturation: "Facturation"
    notes: "Notes"
    createdBy: "Create by"
    eMail: "E-mail"
    tel: "Phone number"
    contact: "Contact"
    price: "Price without TAX"
    priceWithVat: "Price with VAT"
    datein: "Create date"
    payed: "Payed"
    addInvoice: "Add invoice"
    moreOptions: "More options"
    item: "Item"
    quantity: "Quantity"
    unit: "Unit"
    tax: "TAX"
    vat: "VAT"
    totalPriceWithVat: "Total price with VAT"
    sum: "Sum"
    discount: "Discount"
    payedamount: "Payed amount"
    showInvoice: "Show invoice"
    showInvoiceEn: "Show invoice in english"
    showContact: "Show contact"
    sucAdded: "Invoice was successfully added"
    sucDeleted: "Invoice was successfully deleted"
    logAdded: "Added invoice with ID %id%"
    logDeleted: "Deleted invoice with ID %id%"
    afterExpiration: "After expiration %number% days"

numericalscheme:
    numericalScheme: "Numerical scheme"
    companyName: "Company name"
    street: "Street"
    psc: "PSČ"
    city: "City"
    state: "State"
    ico: "IČO"
    dic: "DIČ"
    icdph: "IČ DPH"
    accountNumber: "Account number"
    iban: "IBAN"
    swift: "SWIFT"
    tax: "Predefined TAX"
    deliveryDays: "Predefined date of delivery"
    expirationDays: "Predefined date of expiration"
    number: "Scheme"
    name: "Predefined name"
    currency: "Predefined currency"
    vsAsNumber: "Use invoice number as predefined variable symbol"
    ks: "Predefined constant symbol"
    paymentForm: "Predefined payment form"
    logo: "Logo"
    signature: "Signature"
    logoShow: "Show logo on invoice"
    signatureShow: "Show signature on invoice"
    issued: "Issued"
    mail: "E-mail"
    phoneNumber: "Phone number"
    cleanNumber: "Next number"

help:
    help: "Help"
    editHelp: "Edit help"
    informationSystem: "Information system"
    systemName: "System name"
    systemVersion: "System version"
    numberOfModules: "Number of modules"
    ceo: "CEO"
    phoneNumberHelpDesk: "Phone number of help desk"
    links: "Interesting links"
    informationAbout: "Information about"
    website: "Website"
    register: "Company register"
    sucEdited: "Help was changed"
    logEdited: "Changed help"

logs:
    logout: "Úspešné odhlásenie"
    login: "Úspešne prihlásenie"

post:
    addPost: "Add post"
    editPost: "Edit post"
    type: "Type"
    from: "From"
    to: "To"
    packageDescription: "Package description"
    created: "Created by"
    sucAdded: "Post was added"
    sucEdited: "Post was edited"
    sucDeleted: "Post was deleted"
    logAdded: "Added post with ID %id%"
    logEdited: "Edited post with ID %id%"
    logDeleted: "Deleted post with ID %id%"

cost:
    addCost: "Add cost"
    editCost: "Edit cost"
    description: "Description" 
    price: "Price"
    contact: "Contact"
    payed: "Payed"
    payedAmount: "Payed amount"
    sucAdded: "Cost was added"
    sucEdited: "Cost was edited"
    sucDeleted: "Cost was deleted"
    logAdded: "Added cost with ID %id%"
    logEdited: "Edited cost with ID %id%"
    logDeleted: "Deleted cost with ID %id%"

event:
    addEvent: "Add event"
    editEvent: "Edit event"
    title: "Title"
    te: "Text"
    date: "Date of event"
    sucAdded: "Event was added"
    sucEdited: "Event was edited"
    sucDeleted: "Event was deleted"
    logAdded: "Created event with ID %id%"
    logEdited: "Edited event with ID %id%"
    logDeleted: "Deleted event with ID %id%"

gallery:
    addGallery: "Add photo to gallery"
    image: "Image"
    category: "Category"
    sucAdded: "Photo was added"
    sucDeleted: "Photo was deleted"
    logAdded: "Inserted photo to gallery with ID %id%"
    logDeleted: "Deleted photo from gallery with ID %id%"
    contentoGallery: "Kontento - gallery"
    addCategory: "Add category"
    editCategory: "Edit category"
    importantNote: "While adding images, please take care of their size. It takes more time to load bigger images."