default:
    action: "Akcie"	
    noRecords: "V tejto sekcii nie sú žiadne vytvorené záznamy"
    send: "Odoslať"
    startWriting: "Začnite písať"
    show: "Zobraziť"
    delete: "Zmazať"
    add: "Pridať"
    close: "Zatvoriť"
    datein: "Dátum vloženia"
    download: "Stiahnúť"  
    requiredDimensions: "Požadovaný rozmer: %dimension%. <br> Pri väčšom rozmere bude obrázok upravený a orezaný."  
    address: "Adresa"   
    facturation: "Fakturačné údaje" 
    back: "Späť"
    edit: "Uložiť"
    chooseFile: "Vyberte súbor"
    noBackAction: "Chystáte sa vykonať nenávratnú akciu. Naozaj si to prajete?"
    yes: "Áno"
    no: "Nie"
    mail: "E-mail"
    phoneNumber: "Telefónne číslo"
    module: "Modul"
    name: "Meno"
    logo: "Logo"
    favicon: "Favicon"
    requiredField: "Povinné pole"
    sort: "Poradie"
    year: "Rok"
    minify: "Minifikovať"
    change: "Zmeniť"
    noRights: "Na túto akciu nemáte právo"
    pleaseLogin: "Pre túto akciu sa prosím prihláste"
    multimedia: "Multimédium"
    image: "Obrázok"
    search: "Hľadať"

modulName:
    homepage: "Domov"
    project: "Projekty"
    projects: "Projekty"
    group: "Skupiny"
    order: "Objednávky"
    category: "Kategórie"
    product: "Produkty"
    mailer: "Mailer"
    content: "Kontento"
    contento: "Kontento"
    multimedia: "Multimédiá"
    article: "Články"
    contact: "Kontakty"
    invoice: "Faktúry"
    seo: "SEO"
    user: "Užívatelia"
    log: "Log"
    settings: "Nastavenia"
    help: "Systém"
    profile: "Profil"
    general: "Všeobecné"
    specific: "Špecifické"
    napoveda: "Nápoveda"
    system: "Systém"
    information: "Informácie"
    login: "Prihlásenie"
    stats: "Štatistiky"
    post: "Pošta"
    cost: "Dlžoba"
    gallery: "Galéria"
    event: "Podujatia"
    invoices: "Faktúry"
    proformaInvoices: "Zálohové faktúry"
    secondhand: "Bazár"
    text: "Texty"
    frontContact: "Kontakty"
    ambulance: "Ambulancie"
    forum: "Fórum"
    download: "Na stiahnutie"
    registeredUser: "Registrovaní"
    workgroup: "Skupiny"
    link: "Linky"

months:
    january: "Január"
    february: "Február"
    march: "Marec"
    april: "Apríl"
    may: "Máj"
    june: "Jún"
    july: "Júl"
    august: "August"
    september: "September"
    october: "Október"
    november: "November"
    december: "December"

link:
    addLink: "Pridať link"
    sucDelete: "Úspešne zmazaný"
    sucAdded: "Úspešne pridaný"
    sucEdited: "Úspešne upravený"
    editLink: "Upraviť link"

layout:
    quickAction: "Rýchla akcia"
    createContact: "Vytvoriť kontakt"
    createInvoice: "Vytvoriť faktúru"
    logout: "Odhlásiť sa"
    profil: "Profil"
    mostCommon: "Najpoužívanejšie"
    general: "Všeobecné"
    lang: "Mutácia"
    changeMutation: "Zmeniť mutáciu"

login:
    informationSystem: "Informačný systém"
    mail: "E-mail"
    password: "Heslo"
    remember: "Zapamätať"
    submit: "Prihlásiť"
    sucLogin: "Úspešne prihlásenie"
    unSucLogin: "Neúspešné prihlásenie - zlé heslo"
    unSucLoginUnknownUser: "Prihlásenie neznámeho užívateľa s e-mail: mail"
    logLogin: "Prihlásil sa"
    wrongLogin: "Zlé prihlasovacie údaje, skúste to znovu"
    loggedOut: "Odhlásil sa"

profile:
    myProfile: "Môj profil"
    name: "Meno"
    surname: "Priezvisko"
    password: "Heslo"
    image: "Obrázok"
    changePassword: "Zmeniť heslo"
    myLogs: "Moje logy"
    description: "Popis"
    sucEdited: "Váš profil bol zmenené"
    logEdited: "Zmenil svoj profil"

homepage:
    sumAddedInvoice: "Suma vystavených faktúr za jednotlivé mesiace"
    countAddedContacts: "Počet nových kontaktov za jednotlivé mesiace"
    contacts: "kontaktov"
    newContacts: "nových kontaktov"
    lastContact: "posledný kontakt"
    uploadedFiles: "nahratých súborov"
    sumFacturated: "celkovo vyfakturované"
    sumUnpayed: "celkovo neuhradené"
    lastInvoice: "posledná faktúra"
    activeAdmin: "najaktívnejší admin"

mailer:
    write: "Napísať e-mail"
    to: "Komu"
    subject: "Predmet"
    text: "Text"
    attachment: "Príloha"
    sentDate: "Dátum odoslania"
    importTemplate: "Načítať šablónu"
    recipient: "Príjemca"
    sentMail: "Odoslal e-mail s ID %id%"
    title: "Názov"
    import: "Načítať"
    showMail: "Zobraziť e-mail"
    templateName: "Názov šablóny"
    body: "Telo"
    deletedMail: "Vymazal e-mail s ID %id%"
    sucSent: "E-mail bol odoslaný"
    sucDeleted: "E-mail bol zmazaný"

kontento:
    addStaticPage: "Pridať statickú stránku"
    editStaticPage: "Upraviť statickú stránku"
    addDynamicPage: "Pridať dynamickú stránku"
    editDynamicPage: "Upraviť dynamickú stránku"
    name: "Názov"
    type: "Typ"
    sort: "Poradie"
    parent: "Rodič"
    link: "Link (URL adresa)"
    visibility: "Viditeľnosť"
    body: "Telo"
    showPage: "Zobraziť stránku"
    editPage: "Upraviť stránku"
    sucCreated: "Nová stránka bola vytvorená"
    sucEdited: "Stránka bola upravená"
    sucDeleted: "Stránka bola vymazaná"
    logDeleted: "Vymazal stránku s ID %id%"
    logCreated: "Vytvoril stránku s ID %id%"
    logEdited: "Upravil stránku s ID %id%"

multimedia:
    folderName: "Názov zložky"
    addFolder: "Pridať zložku"
    addMultimedia: "Pridať multimédium"
    addToFolder: "Pridať do zložky"
    folder: "Zložka"
    deleteBody: "Zložka <strong>%folder%</strong> zahŕňa <strong>%count%</strong> multimédiá. S vymazaním tejto zložky budú zmazané aj jej prislúchajúce multimédiá."
    name: "Názov"
    type: "Typ"
    fileSize: "Veľkosť súboru"
    relativePath: "Relatívna cesta"
    absolutePath: "Absolútna cesta"
    sucFolderAdded: "Zložka bola vytvorená"
    sucFolderDeleted: "Zložka bola zmazaná"
    logFolderAdded: "Vytvoril zložku s ID %id%"
    logFolderDeleted: "Zmazal zložku s ID %id%"
    sucMultimediaAdded: "Multimédium bolo pridané"
    sucMultimediaDeleted: "Multimédium bolo zmazané"
    logMultimediaAdded: "Pridal multimédium s ID %id%"
    logMultimediaDeleted: "Zmazal multimédium s ID %id%"

article:
    addArticle: "Pridať článok"
    title: "Nadpis"
    category: "Kategória"
    editArticle: "Upraviť článok"
    image: "Obrázok"
    articlee: "Článok"
    keywords: "Kľúčové slová, resp. tagy (oddeľujte čiarkou)"

contact:
    addContact: "Pridať kontakt"
    editContact: "Upraviť kontakt"
    name: "Názov"
    files: "Súbory"
    sucAdded: "Kontakt bol pridaný"
    sucEdited: "Kontakt bol upravený"
    sucDeleted: "Kontakt bol zmazaný"
    logAdded: "Pridal kontakt s ID %id%"
    logEdited: "Upravil kontakt s ID %id%"
    logDeleted: "Zmazal kontakt s ID %id%"
    sucFileAdded: "Súbor bol pridaný "
    sucFileDeleted: "Súbor bol zmazaný"
    logFileAdded: "Pridal súbor s ID %id% ku kontaktu s ID %id%c"
    logFileDeleted: "Zmazal súbor s ID %id% z kontaktu s ID %id%c"
    showMultimedium: "Zobraziť multimédium"
    myInvoices: "Faktúry"
    logAddedClient: "Vytvoril klienta s ID %id%"

seo:
    addSeo: "Pridať SEO"
    link: "Link"
    title: "Nadpis"
    description: "Popis"
    google: "Živý náhľad vyhľadávača Google."
    editSeo: "Upraviť SEO"
    finalDestination: "Cieľová stránka"
    image: "Obrázok pre FB share API (odporúčaná veľkosť 1200x630)"
    sucAdded: "SEO bolo pridané"
    sucEdited: "SEO bolo upravené"
    sucDeleted: "SEO bolo zmazané"
    logAdded: "Pridal SEO s ID %id%"
    logEdited: "Upravil SEO s ID %id%"
    logDeleted: "Zmazal SEO s ID %id%"

user:
    addUser: "Pridať užívateľa"
    editUser: "Upraviť užívateľa"
    user: "Užívateľ"
    name: "Meno"
    surname: "Priezvisko"
    authorization: "Práva"
    eMail: "E-mail"
    phoneNumber: "Telefónne číslo"
    password: "Heslo"
    passwordCheck: "Heslo znova"
    multimedia: "Obrázok"
    data: "Údaje"
    permissions: "Právomoci"
    sucAdded: "Užívateľ bol vytvorený"
    sucEdited: "Užívateľ bol upravený"
    sucDeleted: "Užívateľ bol zmazaný"
    logAdded: "Pridal užívateľa s ID %id%"
    logEdited: "Upravil užívateľa s ID %id%"
    logDeleted: "Zmazal užívateľa s ID %id%"
    unableDelete: "Nemožné zmazať sám seba"

log:
    description: "Popis"
    unknownUser: "Neexistujúci užívateľ"
    logs: "Logy"

settings:
    generalSettings: "Všeobecné nastavenia"
    editChange: "Upraviť zmeny"
    addCategory: "Pridať kategóriu"
    addTemplate: "Pridať šablónu"
    addPicture: "Pridať obrázok"
    addField: "Pridať pole"
    addGroup: "Pridať skupinu"
    specificSettings: "Špecifické nastavenia"
    invoiceInfo: "RRRR - Rok ako 4 číslice <br> RR - Rok ako 2 číslice <br> MM - Mesiac ako 2 číslice <br> C - Číslo faktúry (počet určuje veľkosť fakturačného čísla)"
    street: "Ulica"
    city: "Mesto"
    psc: "PSČ"
    state: "Štát"
    companyName: "Názov spoločnosti"
    name: "Názov"
    scheme: "Číselník"
    paymentInfo: "Platobné údaje"
    predefinedDateOfDelivery: "Preddefinovaná doba dodania"
    predefinedDateOfExpiration: "Preddefinovaná doba splatnosti"
    predefinedTax: "Preddefinovaná DPH"
    useInvoiceNumberAsVS: "Použiť číslo faktúry ako preddefinovaný variabilný symbol"
    predefinedPaymentInfo: "Preddefinované platobné údaje"
    predefinedConstantSymbol: "Preddefinovaný konštantný symbol"
    predefinedPaymentForm: "Preddefinovaná forma úhrady"
    predefinedCurrency: "Preddefinovaná mena"
    invoiceLogo: "Logo na faktúre"
    showInvoiceLogo: "Zobraziť logo na faktúre"
    invoiceSignature: "Podpis na faktúre"
    showInvoiceSignature: "Zobraziť podpis na faktúre"
    editGroup: "Upraviť skupinu"
    editField: "Upraviť pole"
    group: "Skupina"
    type: "Typ"
    options: "Položky (oddelené ;)"
    showInTable: "Zobraziť v tabuľke"
    showOnNewLine: "Zobraziť na novom riadku"
    showAsTinymce: "Zobraziť ako tinymce"
    colWidth: "Šírka položky"
    editCategory: "Upraviť kategóriu"
    templates: "Šablóny"
    username: "Užívateľ"
    password: "Heslo"
    security: "Bezpečnosť"
    timeout: "Timeout"
    host: "Host"
    port: "Port"
    editTemplate: "Upraviť šablónu"
    smtpDescription: "Pri vlastnom nastavovaní SMTP protokolu je nevyhnutné, aby server povoľoval odosielanie cez server tretích strán. <br><br>Pre nastavenie GMAIL konta sa prosím prihláste a povoľte odosielanie e-mailov cez iné aplikácie na tejto <a href='https://www.google.com/settings/security/lesssecureapps'>adrese</a>"
    fieldName: "Názov poľa"
    addNewImage: "Pridať nový obrázok"
    editItemInMenu: "Upraviť položku v menu"
    addNumericalScheme: "Vytvoriť nový číselný rad"
    editNumericalScheme: "Upraviť číselný rad"
    sucEdited: "Nastavenia boli zmenené"
    logEdited: "Zmenil nastavenia"
    ico: "IČO"
    dic: "DIČ"
    icdph: "IČ DPH"

help:
    help: "Nápoveda"
    editHelp: "Upraviť nápovedu"
    informationSystem: "Informačný systém"
    systemName: "Názov systému"
    systemVersion: "Verzia systému"
    numberOfModules: "Počet modulov"
    ceo: "Konateľ"
    phoneNumberHelpDesk: "Kontakt na telefonickú podporu"
    links: "Zaujímavé odkazy"
    informationAbout: "Informácie o"
    website: "Web"
    register: "Obchodný register"
    sucEdited: "Nápoveda bola zmenená"
    logEdited: "Zmenil nápovedu"

logs:
    logout: "Úspešné odhlásenie"
    login: "Úspešne prihlásenie"

post:
    addPost: "Vytvoriť zásielku"
    editPost: "Upraviť zásielku"
    type: "Typ"
    from: "Od"
    to: "Komu"
    packageDescription: "Popis zásielky"
    created: "Vytvoril"
    sucAdded: "Zásielka bola vytvorená"
    sucEdited: "Zásielka bola upravená"
    sucDeleted: "Zásielka bola zmazaná"
    logAdded: "Vytvoril zásielku s ID %id%"
    logEdited: "Upravil zásielku s ID %id%"
    logDeleted: "Zmazal zásielku s ID %id%"

cost:
    addCost: "Vytvoriť dlžobu"
    editCost: "Upraviť dlžobu"
    description: "Popis" 
    price: "Cena"
    contact: "Kontakt"
    payed: "Uhradené"
    payedAmount: "Uhradená suma"
    sucAdded: "Dlžoba bola vytvorená"
    sucEdited: "Dlžoba bola upravená"
    sucDeleted: "Dlžoba bola zmazaná"
    logAdded: "Vytvoril dlžobu s ID %id%"
    logEdited: "Upravil dlžobu s ID %id%"
    logDeleted: "Zmazal dlžobu s ID %id%"

event:
    addEvent: "Vytvoriť podujatie"
    editEvent: "Upraviť podujatie"
    title: "Nadpis"
    te: "Text"
    date: "Dátum podujatia"
    

gallery:
    addGallery: "Vložiť fotografiu do galérie"
    image: "Obrázok"
    category: "Kategória"
    sucAdded: "Fotografia bola vložená"
    sucDeleted: "Fotografia bola zmazaná"
    logAdded: "Vložil fotografiu do galérie s ID %id%"
    logDeleted: "Zmazal fotografiu z galérie s ID %id%"
    contentoGallery: "Kontento - galéria"
    addCategory: "Pridať kategóriu"
    editCategory: "Upraviť kategóriu"
    importantNote: "Pri vkladaní obrázkov do galérie dbajte na jeho veľkosť. Veľké obrázky zbytočne rapídne zvyšujú čas načítania stránky"