no_item_found_reset: 'Žiadne položky, prosím resetujte filter'
no_item_found: 'V tejto sekcií sa nenachádzajú žiadne položky'
show_default_columns: "Zobraziť defaultné stĺpce"
here: 'Tu'
items: 'Položky'
all: 'Všetky'
from: 'z'
reset_filter: 'Resetovať filter'
group_actions: 'Hromadné akcie'
show_all_columns: 'Zobraziť všetky stĺpce'
hide_column: 'Skryť stĺpec'
action: 'Akcie'
previous: 'Predchádzajúce'
next: 'Ďalšie'
choose: 'Vyberte'
execute: 'Uskutočniť'
save: 'Uložiť'
cancel: 'Zrušiť'
show_filter: ""