no_item_found_reset: 'No items, please rest the filter'
no_item_found: 'We have no records in this sections'
show_default_columns: "Show default columns"
here: 'Here'
items: 'Items'
all: 'All'
from: 'from'
reset_filter: 'Reset filter'
group_actions: 'Group action'
show_all_columns: 'Show all column'
hide_column: 'Hide column'
action: 'Action'
previous: 'Previous'
next: 'Next'
choose: 'Choose'
execute: 'Execute'
save: 'Save'
cancel: 'Cancel'