{block action}
<a href="{$presenter->link('Dashboard:default', ["projectID" => $item->getId()])}" class="btn btn-primary btn-sm btn-sm-betpad" 
    data-tooltip="tooltip" title="OTVORIŤ PROJEKT"><span class="glyphicon glyphicon-import no-margin"></span> OTVORIŤ PROJEKT</a>
{/block}
