<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <!--DON'T FORGET TO CHANGE THIS WHEN GOING PRODUCTION-->
        <meta name="robots" content="noindex, nofollow">
	
	<meta name="author" content="DENEVY Slovakia, s.r.o.">
        <meta name="language" content="sk">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        
        {ifset $seo}
            <title>{$seo->getTitle()} | TITLE</title>
            <meta name="description" content="{$seo->getDescription()}">
            
            <meta property="og:locale" content="{$locale}" />
            <meta property="og:title" content="{$seo->getTitle()} | TITLE" />
            <meta property="og:description" content="{$seo->getDescription()}" />
            <meta property="og:url" content="{$url}" />
            <meta property="og:type" content="website" />
            
            {if !is_null($seo->getMultimedia())}
            <meta property="og:image" content="{$schemeHost}/{$seo->getMultimedia()->getPath()}"/>
            <meta property="og:image:type" content="{$seo->getMultimedia()->getType()}"/>
            {/if}
        {else}
            <title>TITLE</title>
            <meta name="description" content="Description">
        {/ifset}
	
        <!-- CASCADING STYLE SHEET -->

        <!-- Normalize -->
        <link rel="stylesheet" href="{$basePath}/css/front/css-min/normalize.min.css?{$validationToken}">

        <!-- mandatory --> 
	 <link rel="stylesheet" href="{$basePath}/css/front/efekto-bootstrap.css?{$validationToken}">
        <link rel="stylesheet" href="{$basePath}/css/front/efekto-style.css?{$validationToken}">
        <link rel="stylesheet" href="{$basePath}/css/front/efekto-respo.css?{$validationToken}">
        <!-- voluntary -->
        <!--<link rel="stylesheet" href="{$bower}/bootstrap/dist/css/bootstrap.min.css" >-->
	
        <!--JAVASCRIPT-->
        <!-- mandatory-->
        <script src="{$bower}/jquery/dist/jquery.min.js"></script>
        <script src="{$bower}/nette-forms/src/assets/netteForms.js"></script>
        <script src="{$basePath}/js/front/efekto-js.js?{$validationToken}"></script>
        <!-- voluntary -->
        <!--<script src="{$bower}/nette.ajax.js/nette.ajax.js"></script>-->
        <!--<script src="{$bower}/bootstrap/dist/js/bootstrap.min.js"></script>-->
        
        <!-- FAVICON -->
	<link rel="shortcut icon" href="{$basePath}/{$client->getFavicon()->getPath()}">
</head>
<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type" style="">{$flash->message}</div>
         
    {include content}
    
</body>
</html>
