



/*body{
	background: url('../../images/invoice/invoice_bg.jpg') no-repeat top center;
	padding: 100px;
	font-size: 10px;
	width: 1200px;
}

hr{
	margin: 8px 0;
}

h1{
	font-size: 1.2em;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px dotted #000;
	width: 580px;
	margin: 10px auto 0px auto;
	padding: 10px;
}

.head small{
	font-size: 0.7em;
	line-height: 1.4em;
}

.left-box{
	margin-left: 25px;
}

table{
	width: 100%;
}

table.contacts {
	width: 600px;
	margin: 15px auto;
}
table.contacts td {
	border: 1px solid #000;
	vertical-align: top;
	padding: 5px;
}
table.contacts td.stred {
	border: 0px;
}

table.dodavatel,
table.odberatel {
	width: 275px;
}

table.dodavatel th,
table.odberatel th {
	padding: 4px;
	border-bottom: 1px solid #000;
	font-weight: normal;
}

table.dodavatel td,
table.odberatel td {
	padding: 2px;
	border: 0px;
}

table.details {
	border: 1px solid #000;
	width: 600px;
	margin: 0px auto;
}
table.details td {
	padding: 2px;
}
table.details td table {
	margin: 0px auto;
}

.items {
	position: relative;
	border: 1px solid #000;
	width: 580px;
	margin: 15px auto;
	padding: 5px 10px 10px 10px;
}
.items table th {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	vertical-align: top;
	padding: 10px;
}
.items table td {
	vertical-align: top;
	padding: 10px;
}

table.price {
	width: 410px;
	text-align: right;
	margin: 0 25px 0 190px;
}
table.price td{
	text-align: right;
	padding: 1px 0;
}
table.price tr.line td {
	padding-top: 3px;
	font-size: 1.2em;
	border-top: 1px solid #000;
}

.on_left { text-align: left; }
.on_center { text-align: center; }
.on_right { text-align: right; }
.strong { font-weight: bold; }
.even { background: #eee; }

.dodavatel .on_right, .odberatel .on_right{
	width: 50px;
}*/