/*FONTS*/

@font-face {
    font-family: Regular; /* deklarace fontu */
    src: url("../../webfont/regular.OTF") format("opentype");
}

@font-face {
    font-family: Black; /* deklarace fontu */
    src: url("../../webfont/black.OTF") format("opentype"); 
}

@font-face {
    font-family: Light; /* deklarace fontu */
    src: url("../../webfont/light.OTF") format("opentype"); 
}

.pointer {
    cursor: pointer;
}

.breadcrumb a {
    color: inherit;
    transition: all .15s linear;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #00adee;
}

.mob-btn:hover, .mob-btn:focus, .mob-btn:active {
    background-color: #123551!important;
}

#mob-nav ul li a {
    color: #FFF;
    padding-left: 30px;
}

#mob-nav ul li a:hover {
    background-color: #123551;
}

#mob-nav .title {
    color: #00adee;
    padding-left: 15px;
    font-size: 16px;
}

.navbar-default {
    background-color: #154469!important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 15px!important;
}

.mCSB_inside > .mCS_y_hidden.mCSB_container {
    margin-right: 0px!important;
}

.mCSB_container.mCS_y_hidden.mCS_no_scrollbar_y {
    height: 100%!important;
}

html {
    position: relative;
    display: inline-block;
    min-width: 100%;
    height: 100%;
}

body {
    position: relative;
    display: inline-block;
    min-width: 100%;
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.modal-open {
    padding: 0px!important;
}

.padd-10 {
    padding: 10px;
}

.glyphicon-padding {
    padding-left: 6px;
}

.strong {
    font-weight: bold!important;
}

.clear {
    clear: both;
}

.shadow {
    box-shadow: 2px 1px 5px #888888;
}

.rad-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.rad-3 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.break-word li {
    word-wrap: break-word;
}

.green {
    color: #4ae74e;
}

.red {
    color: #f34335;
}

.tracy-dump {
    position: relative;
    z-index: 10000;
}

.nowrap {
    width: 1px;
    white-space: nowrap;
}

.btn-sm-betpad {
    padding: 3px 7px!important;
}

.actions {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.transition015slinear {
    transition: .15s linear;
}

.marg-5-left {
    margin-left: 5px;
}

.marg-10-left {
    margin-left: 10px;
}

.no-margin {
    margin: 0px!important;
}

.normal-link {
    color: inherit!important;
    font-weight: normal;
    cursor: pointer;
}

.normal-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.back-fff {
    background: #FFF!important;
}

.page-content-back {
    background: #FFF!important;
    border-top: 4px solid #ceeaf5;
    padding: 10px;
}

.page-content-with-header {
    padding: 0px!important;
}

.page-content-with-header h4.titlenew {
    background-color: #ceeaf5;
    color: #123551;
    display: block;
    padding: 5px;
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 10px;
}

.page-content-back h4.title {
    background-color: #ceeaf5;
    color: #123551;
    margin: -10px;
    display: inline-block;
    padding: 8px 16px;
}

.panel-custom {
    border-color: #ceeaf5!important;
}

.panel-heading {
    background-color: #ceeaf5!important;
}

.panel-custom .panel-title{
    color: #123551!important;
    font-weight: bold;
}

.panel-custom .panel-body {
    padding: 5px 10px;
}

.page-content-simplesearch {
    padding: 20px 20px 0px 20px;
}

.table {
    margin: 0px!important;
}

.datagrid-settings {
    display: inline-block;
}

.bg-center {
    background-size: cover;
    background-position: center center;
}

/*removing chrome nasty yellow backgrounds*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/** removing additional padding which ublaboo/datagrid gives */ 
.datagrid {
    padding: 0px!important;
}

.datagrid .datagrid-toolbar > span {
    margin: 0px!important;
}

.datagrid table thead tr.row-group-actions th {
    background: #FFF!important;
}

.datagrid .row-grid-bottom {
    background: #FFF!important;
    border: none!important;
}

.datagrid .datagrid-tree .datagrid-tree-item .datagrid-tree-item-content .datagrid-tree-item-right {
    flex-basis: 100%!important;
}

/** custom buttony */


.btn-custom-darkblue {
    background-color: #154469;
    color: #FFF;
    border-color: #154469;
}

.btn-custom-darkblue:hover, .btn-custom-darkblue:focus  {
    background-color: #123551;
    color: #FFF!important;
    border-color: #123551;
}

.btn-custom-darkblue span {
    margin-left: 5px;
}

.btn-custom-darkyellow {
    color: #fff;
    background-color: #f2ae43;
    border-color: #f2ae43;
}

.btn-custom-darkyellow span {
    margin-left: 5px;
}

.btn-custom-darkyellow:hover, .btn-custom-darkyellow:focus {
    color: #FFF!important;
    background-color: #f2a731;
    border-color: #f2a731; 
}

.btn {
    transition: .15s linear;
}

/** custom nav and navtabs */

.nav-custom-blue {
    margin-left: -10px;
    margin-top: -14px;
    border: none!important;
}

.nav-custom-blue a {
    background-color: #ceeaf5;
    margin: 0px!important;
    border-radius: 0px!important;
    color: #123551;
    font-weight: bold;
    transition: .15s linear;
}

.nav-custom-blue li.active a, .nav-custom-blue li a:hover {
    background-color: #00aced!important;
    color: #FFF!important;
}

/* scroll fixes */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}



/** WEB  */

.border-1-sol-e6e6e6 {
    border: 1px solid #ddd;
    -webkit-border: 1px solid #e6e6e6;
    -moz-border: 1px solid #e6e6e6;
}

.navbar {
    background-color: #154469;
    margin-bottom: 0px!important;
    border: 0px!important;
}

.media-body-inline {
    width: auto!important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #123551!important;
}

.navbar-myhover:hover, .navbar-myhover:focus {
    background-color: #123551!important;
}

.navbar-brand {
    padding: 20px 15px!important; 
    height: 74px!important;
    background: #123551;
    width: 225px;
}

.navbar-form {
    margin-top: 20px!important;
}

#generalSearchForm input {
    background: transparent;
    color: #FFF;
    border: 1px solid #123551!important;
}

#generalSearchForm button {
    border: 1px solid #123551;
}

.flash-messages {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 65%;
    z-index: 1050;
}

.blur-5 {
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#mob-nav {
    width: 100%;
    border: none;
}

#wrapper {
    padding-left: 225px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    overflow: auto;
    left: 0px;
    width: 225px;
    height: calc(100% - 75px);
    background: #123551;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content-header {
    padding: 20px;
    background-color: #ceeaf5;
    color: #154469;
    transition: .1s linear;
}

.page-content-header h2 {
    margin: 0px;
    font-size: 25px;
}

.page-content-header h2 > span.glyphicon {
    top: 3px;
    margin-right: 6px;
}

.page-content-wrapper {
    padding: 20px;
}

.left-side-menu {
    padding-bottom: 130px;
}

.left-side-menu li > a {
    display: block;
    color: #00adee;
    padding: 5px 10px 5px 25px;
    font-size: 15px;
    text-decoration: none;
    transition: .15s linear;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.left-side-menu li > a > span {
    margin-right: 10px;
}

.left-side-menu li > a:hover, .left-side-menu li a.active {
    background-color: #154469;
    border-top: 1px solid #00adee;
    border-bottom: 1px solid #00adee;
    color: #FFF;
}

.resizeMenu {
    display: block;
    color: #00adee;
    padding: 7px 13px 7px 25px;
    font-size: 15px;
    margin-top: 2px;
    border-top: 1px solid #0e293f;
}

.resizeMenu .btn {
    background: transparent;
    border: 1px solid #00adee;
    transition: .15s linear;
}

.resizeMenu .btn:hover, .resizeMenu .btn:focus {
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-load {
    background-image: url("../../images/loading.gif")!important;
    background-position: calc(100% - 5px) center;
    background-repeat: no-repeat;
    padding-right: 30px!important;
}

.userAvatar {
    max-width: 45px;
    max-height: 45px;
}

.folder {
    
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.folder:hover {
    box-shadow: 1px 1px 3px 1px #337ab7;
    -webkit-box-shadow: 1px 1px 3px 1px #337ab7;
    -moz-box-shadow: 1px 1px 3px 1px #337ab7;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.multimedias .multimedia-thumbnail {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.multimedias .multimediaImage {
    width: 100%;
    height: 85px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.multimedias .multimediaFile {
    width: 100%;
    height: 85px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.seoExample {
    border: 1px solid #ddd;
}

.breadcrumb {
    padding: 10px 10px 0px 10px!important;
    margin: 0px!important;
    background: transparent!important;
    color: #FFF;
    font-size: 14px!important;
}

.breadcrumb .active {
    font-weight: bold;
    color: #00adee!important;
}

/*CONTRACT MODUL*/
.header {
    background-image: url("../../images/admin/bg.gif")!important;
    background-position: calc(100% - 5px) center;
    background-repeat: no-repeat;
    padding-right: 25px!important;
}

.headerSortUp {
    background-image: url("../../images/admin/asc.gif")!important;
    background-position: calc(100% - 5px) center;
    background-repeat: no-repeat;
    padding-right: 25px!important;
    background-color: #8dbdd8;
}

.headerSortDown {
    background-image: url("../../images/admin/desc.gif")!important;
    background-position: calc(100% - 5px) center;
    background-repeat: no-repeat;
    padding-right: 25px!important;
    background-color: #8dbdd8;
}

.moreNavbar {
    background-color: #0e293f;
}

.moreNavbar li a {
    padding-left: 50px;
}

.morenav li a:hover {
    background: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #FFF;
}

.invoicesTable tbody tr td, .invoicesTable tbody tr th {
    vertical-align: middle!important;
}

.contactfield {
    text-align: center;
    padding: 10px;
    /*background: #337ab7;*/
    color: #333;
    border-radius: 5px 5px 0px 0px;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.quickaction > div {
    color: #FFF;
    cursor: pointer;
    max-width: 150px;
    border: 1px solid #123551;
    padding: 10px 20px;
}

.dropdown-menu-quickaction {
    background-color: #123551!important;
    margin-top: -1px!important;
}

.quickaction.open {
    background-color: #123551!important;
}

.dropdown-menu-quickaction a {
    color: #FFF!important;
}
.dropdown-menu-quickaction a:hover {
    background-color: #154469!important;
    text-decoration: none;
}

.quickaction >div:hover {
    background-color: #123551;
}

.dropdown-menu-user {
    background-color: #123551!important;
    margin-top: -1px!important;
}

.dropdown-menu-user a {
    color: #FFF!important;
}

.dropdown-menu-user a:hover {
    background-color: #154469!important;
    text-decoration: none;
}

.resizeMenu button, .resizeMenu button:focus {
    border: none!important;
    outline: none!important;
}

.copyright {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    bottom: 0px;
    color: #dce1e7;
}

.copyright-logo {
    text-align: center;
    padding: 20px 20px;
}

.copyright-logo img {
    max-width: 100%;
    max-height: 37px;
    display: none;
}

.copyright-logo img.active {
    display: inline-block;
}

.copyright p:nth-child(1) {
    padding: 5px 0px;
    border-top: 1px solid #154469;
    border-bottom: 1px solid #154469;
}

.datetime {
    padding-bottom: 10px;
}

.page-header-padd-fix {
    padding-left: 10px!important; 
    padding-right: 10px!important;
}

.page-header-info {
    padding: 20px;
    padding-bottom: 0px;
}

.page-header-wrap {
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.page-header-box {
    background: #FFF;
    /*border: 1px solid #E4E4E4;*/
    padding: 20px 10px;
    color: #73879C;
    position: relative;
    font-size: 16px;
}

.page-header-box h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 26px;
    color: #73879C;
}

.page-header-box .absolute-span {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #73879C;
    font-size: 30px;
}

.dashboard-box {
    position: relative;
    background: #FFF;
    border-top: 4px solid #ceeaf5;
}

.dashboard-box h4 {
    display: inline-block;
    background: #ceeaf5;
    margin: 0px;
    padding: 5px 15px;
    color: #154469;
}

.dashboard-content {
    padding: 20px;
}

.dashboard-hide {
    position: absolute!important;
    right: 10px!important;
    top: 5px!important;
    cursor: pointer;
    font-size: 18px;
}

.multimedia-box {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.multimedia-box a:hover {
    font-weight: bold;
}

.multimedia-box .icon {
    font-size: 28px;
    color: #ceeaf5;
}

.multimedia-box h4 {
    margin: 0px;
    padding: 5px 0px;
}

#satnik ul {
    margin: 10px;
}

#satnik ul li {
    margin-bottom: 20px;
}

#satnik .nadpis {
    padding: 10px;
    color: #FFF;
    background: #00adee;
}

#satnik table {
    margin-top: 10px!important;
}

.prihlasenie-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.permission {
    background: #f5f5f5;
}

.permission > h5 {
    padding: 8px 15px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0px;
}

.permission > h5.on {
    background-color: #d7f5d9;
}

.permission > h5.off {
    background-color: #f5d7d7;
}

.permission-minus {
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.permission .deletemodul {
    padding: 5px;
    cursor: pointer;
    color: #d9534f;
}

.permission-plus {
    border-top: 1px solid #FFF;
}

.projectmenu li a .fa {
    margin-right: 7px; 
}

.permission .addmodul {
    padding: 5px;
    cursor: pointer;
    color: #00af68;
    border-radius: 24px;
}

.projectmenu {
    list-style: none;
    margin-bottom: 0px;
}

.projectmenu li {
    display: inline-block;
    float: left;
}

.projectmenu li a {
    display: block;
    text-align: left;
    width: auto;
    padding: 20px 15px;
    font-size: 15px;
    text-decoration: none;
    transition: all .25s linear;
}

.projectmenu li a.active, .projectmenu li a:hover {
    color: #FFF;
}

.projectmenu li a.dashboardli:hover, .projectmenu li a.dashboardli.active {
    background: #F6511D;
}
.projectmenu li a.testanalysesli:hover, .projectmenu li a.testanalysesli.active {
    background: #FFB400;
}
.projectmenu li a.testplanli:hover, .projectmenu li a.testplanli.active {
    background: #00A6ED;
}
.projectmenu li a.testexecutionli:hover, .projectmenu li a.testexecutionli.active {
    background: #7FB800;
}
.projectmenu li a.settingsli:hover, .projectmenu li a.settingsli.active {
    background: #878E88;
}
.projectmenu li a.issuesli:hover, .projectmenu li a.issuesli.active {
    background: #000;
}

.navbar-text {
    margin-top: 18px!important;
}

.tabbable .tab-pane {
    overflow: hidden;
}

.persontags {
    padding: 10px 0px;
}

.persontags .tag {
    padding-right: 10px;
    display: inline-block;
}

.persontags .tag::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: black;
    margin-right: 5px;
}

.persontags .tag .removeuser {
    display: inline-block;
    cursor: pointer;
    color: #cd0a0a;
    padding: 0px 4px;
    vertical-align: middle;
}

#playTimer, #stopTimer {
    cursor: pointer;
}

#clock {
    margin-right: 10px;
}

.showIssueInModal {
    cursor: pointer;
}

.tr-opacitated td {
    opacity: 0.5;
}

.tr-opacitated td:last-child {
    opacity: 1!important;
}









.datagrid .datagrid-tree .datagrid-tree-item .datagrid-tree-item-content .datagrid-tree-item-right .datagrid-tree-item-right-columns {
    flex-basis: 100%!important;
}

.datagrid .datagrid-tree .datagrid-tree-item .datagrid-tree-item-content .datagrid-tree-item-right 
.datagrid-tree-item-right-columns .datagrid-tree-item-right-columns-column.col-name,
.datagrid .datagrid-tree .datagrid-tree-item .datagrid-tree-item-content .datagrid-tree-item-right 
.datagrid-tree-item-right-columns .datagrid-tree-item-right-columns-column.text-left{
    flex-basis: 47%!important;
}

.checkbox-lg {
    width: 25px;
    height: 25px;
}

.checkbox-big {
    width: 18px;
    height: 18px;
}

.testSetParent {
    background-color: #d0d0d0!important;
}

.marg-10-top {
    margin-top: 10px;
}

.playTimer, .stopTimer {
    cursor: pointer;
    margin-left: 10px;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.5;
}


#fakeLogin {
    position: fixed;
    z-index: 999999;
    bottom: 0px;
    left: 0px;
}

#fakeLogin a {
    display: inline-block;
    padding: 12px 20px;
    color: #000;
    background: #FFF;
    text-decoration: none;
    transition: .15s all linear;
}

#fakeLogin a:hover {
    color: #FFF;
    background: #000;
}

.comments .comment {
    border: 1px solid #efefef;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
}

.comments .comment .commentdate {
    padding: 5px 0px;
}
































.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
  font-weight: bold;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.spaceButton {
    margin-left: 5px !important;
}


/*.btn-group .dropdown-menu {
    background-color: #123551!important;
    margin-top: -1px!important;
}

.btn-group .dropdown-menu a {
    color: #FFF!important;
}

.btn-group .dropdown-menu a:hover {
    background-color: #154469!important;
    text-decoration: none;
}*/