doctrine:
    user: $DB_USER
    password: $DB_PASS
    dbname: $DB_NAME
    port: 3306
    metadata:
        App: %appDir%

database:
            default:
                dsn: "mysql:host=localhost;port=3306;dbname=$DB_NAME"
                user: $DB_USER
                password: $DB_PASS

parameters:
    licenceKey: "https://lic.denevy.eu/api/license/validate"
    
sentry:
        dns: https://c5204555c53246dca3f1c8cfb98143a1@sentry.io/1265207
        enabled: false