body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:36px;
  width:1000px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:0px;
  width:168px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:43px;
  width:81px;
  height:15px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:133px;
  top:43px;
  width:57px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:220px;
  top:43px;
  width:85px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:330px;
  top:43px;
  width:89px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:450px;
  top:43px;
  width:40px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:524px;
  top:43px;
  width:46px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:620px;
  top:2px;
  width:180px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:270px;
  top:2px;
  width:320px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:900px;
  top:43px;
  width:84px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:967px;
  top:4px;
  width:31px;
  height:29px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:930px;
  top:7px;
  width:27px;
  height:26px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:890px;
  top:6px;
  width:30px;
  height:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:854px;
  top:6px;
  width:26px;
  height:29px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:594px;
  top:43px;
  width:70px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:900px;
  top:820px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:20px;
  top:150px;
  width:170px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:220px;
  width:450px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:20px;
  top:190px;
  width:170px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:490px;
  top:190px;
  width:170px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:20px;
  top:295px;
  width:450px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:20px;
  top:265px;
  width:170px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:490px;
  top:295px;
  width:510px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:490px;
  top:265px;
  width:170px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:490px;
  top:220px;
  width:510px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:130px;
  top:115px;
  width:170px;
  height:20px;
  color:#00CCFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:280px;
  top:90px;
  width:130px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:130px;
  top:90px;
  width:140px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:20px;
  top:90px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:20px;
  top:500px;
  width:170px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:550px;
  width:980px;
  height:250px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:250px;
}
#u55 {
  position:absolute;
  left:2px;
  top:117px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:410px;
  top:545px;
  width:10px;
  height:265px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:248px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:265px;
}
#u57 {
  position:absolute;
  left:20px;
  top:570px;
  width:300px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:530px;
  width:50px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:245px;
  top:530px;
  width:65px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:475px;
  top:530px;
  width:65px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:725px;
  top:530px;
  width:65px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:945px;
  top:530px;
  width:55px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:300px;
  top:620px;
  width:390px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:610px;
  top:675px;
  width:390px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:270px;
  top:750px;
  width:730px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:726px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:160px;
  width:845px;
  height:685px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:685px;
}
#u76 {
  position:absolute;
  left:2px;
  top:334px;
  width:841px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:60px;
  top:185px;
  width:170px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:730px;
  top:800px;
  width:100px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:590px;
  top:800px;
  width:100px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:60px;
  top:238px;
  width:200px;
  height:22px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u81_input:disabled {
  color:grayText;
}
#u82 {
  position:absolute;
  left:60px;
  top:290px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:305px;
  top:290px;
  width:200px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u84 {
  position:absolute;
  left:60px;
  top:270px;
  width:170px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:305px;
  top:270px;
  width:170px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:540px;
  top:290px;
  width:100px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u89 {
  position:absolute;
  left:60px;
  top:355px;
  width:200px;
  height:22px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u89_input:disabled {
  color:grayText;
}
#u90 {
  position:absolute;
  left:60px;
  top:407px;
  width:200px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91 {
  position:absolute;
  left:305px;
  top:407px;
  width:200px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92 {
  position:absolute;
  left:60px;
  top:387px;
  width:170px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:305px;
  top:387px;
  width:170px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:540px;
  top:407px;
  width:100px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u97 {
  position:absolute;
  left:60px;
  top:478px;
  width:200px;
  height:22px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u97_input:disabled {
  color:grayText;
}
#u98 {
  position:absolute;
  left:60px;
  top:530px;
  width:200px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:305px;
  top:530px;
  width:200px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:60px;
  top:510px;
  width:170px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:305px;
  top:510px;
  width:170px;
  height:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:540px;
  top:530px;
  width:100px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u105 {
  position:absolute;
  left:60px;
  top:613px;
  width:200px;
  height:22px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u105_input:disabled {
  color:grayText;
}
#u106 {
  position:absolute;
  left:60px;
  top:665px;
  width:200px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:305px;
  top:665px;
  width:200px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:150px;
  top:630px;
  width:170px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:305px;
  top:645px;
  width:170px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:540px;
  top:665px;
  width:100px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u113 {
  position:absolute;
  left:550px;
  top:185px;
  width:90px;
  height:25px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
