body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:36px;
  width:1000px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:12px;
  top:0px;
  width:168px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:43px;
  width:81px;
  height:15px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:133px;
  top:43px;
  width:57px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:220px;
  top:43px;
  width:85px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:330px;
  top:43px;
  width:89px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:450px;
  top:43px;
  width:40px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:524px;
  top:43px;
  width:46px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:620px;
  top:2px;
  width:180px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:270px;
  top:2px;
  width:320px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:900px;
  top:43px;
  width:84px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:967px;
  top:4px;
  width:31px;
  height:29px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:930px;
  top:7px;
  width:27px;
  height:26px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:890px;
  top:6px;
  width:30px;
  height:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:854px;
  top:6px;
  width:26px;
  height:29px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:594px;
  top:43px;
  width:70px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:900px;
  top:725px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:20px;
  top:76px;
  width:170px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:165px;
  width:450px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:20px;
  top:135px;
  width:170px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:490px;
  top:135px;
  width:170px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:20px;
  top:260px;
  width:450px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:20px;
  top:230px;
  width:170px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:490px;
  top:260px;
  width:510px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:490px;
  top:230px;
  width:170px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:490px;
  top:165px;
  width:510px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:90px;
  top:380px;
  width:158px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:90px;
  top:430px;
  width:910px;
  height:250px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:250px;
}
#u50 {
  position:absolute;
  left:2px;
  top:117px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:452px;
  top:425px;
  width:10px;
  height:265px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:248px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:265px;
}
#u52 {
  position:absolute;
  left:90px;
  top:450px;
  width:279px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:275px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:90px;
  top:410px;
  width:60px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:299px;
  top:410px;
  width:60px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:512px;
  top:410px;
  width:60px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:745px;
  top:410px;
  width:60px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:949px;
  top:410px;
  width:51px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:350px;
  top:500px;
  width:362px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:638px;
  top:555px;
  width:362px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:322px;
  top:630px;
  width:678px;
  height:40px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:674px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:20px;
  top:465px;
  width:60px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:20px;
  top:508px;
  width:60px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
