{block buttons}
<button data-toggle="modal" data-target="#addPicture" class="prihlasenie btn btn-custom-darkblue pull-right">
    {_is.settings.addPicture} <span class="glyphicon glyphicon-plus"></span>
</button>
{/block}
