doctrine:
    user: "juno"
    host: "localhost"
    port: "3306"
    password: "juno"
    dbname: "juno"
    metadata:
        App: %appDir%

database:
    default:
        dsn: "mysql:host=localhost;port=3306;dbname=juno"
        user: "juno"
        password: "juno"
        
