doctrine:
    user: juno
    password: juno
    dbname: juno
    port: 3306
    metadata:
        App: %appDir%

database:
            default:
                dsn: "mysql:host=localhost;port=3306;dbname=juno"
                user: juno
                password: juno
