parameters:
    modulesDir: %appDir%/AdminModule/Modules
    createdRoutes: []

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
		Admin: *Module\Presenters\*Presenter
		Front: Front\*Module\Presenters\*Presenter

session:
	expiration: 14 days

latte:
    xhtml: yes  # default is no
    macros:
        - FrontModule\Classes\TextMacro::install # static method, classname or callable
        - Functions\IsAllowedMacro::install # static method, classname or callable

services: 
	# ROUTER
	routerFactory: App\RouterFactory(%createdRoutes%)
	router: @routerFactory::createRouter

translation:
    dirs: 
        - %appDir%/Core/lang

doctrine:
    dql:
        datetime:
            date: Oro\ORM\Query\AST\Functions\SimpleFunction
            time: Oro\ORM\Query\AST\Functions\SimpleFunction
            timestamp: Oro\ORM\Query\AST\Functions\SimpleFunction
            convert_tz: Oro\ORM\Query\AST\Functions\DateTime\ConvertTz
        numeric:
            timestampdiff: Oro\ORM\Query\AST\Functions\Numeric\TimestampDiff
            dayofyear: Oro\ORM\Query\AST\Functions\SimpleFunction
            dayofmonth: Oro\ORM\Query\AST\Functions\SimpleFunction
            dayofweek: Oro\ORM\Query\AST\Functions\SimpleFunction
            week: Oro\ORM\Query\AST\Functions\SimpleFunction
            day: Oro\ORM\Query\AST\Functions\SimpleFunction
            hour: Oro\ORM\Query\AST\Functions\SimpleFunction
            minute: Oro\ORM\Query\AST\Functions\SimpleFunction
            month: Oro\ORM\Query\AST\Functions\SimpleFunction
            quarter: Oro\ORM\Query\AST\Functions\SimpleFunction
            second: Oro\ORM\Query\AST\Functions\SimpleFunction
            year: Oro\ORM\Query\AST\Functions\SimpleFunction
            sign: Oro\ORM\Query\AST\Functions\Numeric\Sign
            pow: Oro\ORM\Query\AST\Functions\Numeric\Pow
        string:
            group_concat: Oro\ORM\Query\AST\Functions\String\GroupConcat
            concat_ws: Oro\ORM\Query\AST\Functions\String\ConcatWs
            cast: Oro\ORM\Query\AST\Functions\Cast
    metadata:
        DefaultModule: %appDir%/AdminModule/DefaultModule

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	webchemistry: WebChemistry\Forms\Controls\DI\MultiplierExtension
	visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension
	# CONTENT MODULE - module for adding pages
	backend.default: DefaultModule\Extension\DefaultExtension
	# VERY IMPORTANT - Authentication/login/register for app
	authentication: AuthenticationModule\Extension\AuthenticationExtension
	project: ProjectModule\Extension\ProjectExtension
	# VERY IMPORTANT - Every module uses logs
	log: LogModule\Extension\LogExtension
	# VERY IMPORTANT - User is always used in IS
	user: UserModule\Extension\UserExtension
	# CLIENT MODULE - module for having a client in app
	client: ClientModule\Extension\ClientExtension
	# SETTINGS MODULE - module for setting up application
	settings: SettingsModule\Extension\SettingsExtension
	# HELP MODULE - Works with settins, that needs kind of update
	help: HelpModule\Extension\HelpExtension
	# MAILER MODULE - Module for sending mails through SMTP
	mailer: MailerModule\Extension\MailerExtension
	# MULTIMEDIA MODUE - Module for storing Multimedias - smthg like Cloud
	multimedia: MultimediaModule\Extension\MultimediaExtension
	# PROFILE MODULE
	profile: ProfileModule\Extension\ProfileExtension
	# HOMEPAGE MODULE - Needs kind of update
	homepage: HomepageModule\Extension\HomepageExtension
	authorizator: AuthorizatorModule\Extension\AuthorizatorExtension
# ------------ EXTENSION FOR FRONT MODULE ---------------------------------------------------------
	front.default: Front\DefaultModule\Extension\DefaultExtension
	
authentication:
    hasEntities: false
front.default:
    hasEntities: false
backend.default:
    hasEntities: false
