<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrdenie objednávky</title>
    <style>
    
    </style>
</head>
<body>
    <p>Dobrý deň,</p>

    <p>Ďakujeme za prejavenie dôvery a vytvorenie objednávky. V najbližších dňoch vám pošleme vystavenú objednávku a predfaktúru.</p>
    <p><strong>WELLAND s.r.o. www.welland.sk</strong></p>
</body>
</html>