<script type="text/javascript">
    
    $(function() {
        $(document).on("focus", ".datepicker", function() {
            $(this).datepicker({
                "dateFormat": "dd.mm.yy"
            });
        });
        
    });
    
</script>