<link rel="stylesheet" href="{$basePath}/css/select2.min.css">
<script src="{$basePath}/js/select2.min.js"></script>
<script src="{$basePath}/js/sk.js"></script>

<style>
    .form-group .select2-container {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%!important;
        margin-bottom: 0;
        display: table;
        table-layout: fixed;
    }
</style>