<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap-select.min.css">
<script src="{$basePath}/js/bootstrap-select.min.js"></script>
<script>
$(function() {
   
    $('.selectpicker').selectpicker({
        size: 10
    });
        
});
</script>